.git
.gitignore
.gitattributes
.env
.phpunit.result.cache
Dockerfile
.dockerignore
node_modules
npm-debug.log
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.sail/
.DS_Store
Thumbs.db
env.php
phpunit.xml
**/*.php~
**/*.bak
**/*.swp